body {
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(23.5 / 16);
  color: var(--main-text-color);

  min-height: 100vh;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
