@use '../../styles/breakpoints.scss';

.hero_section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;

  @include breakpoints.tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 115px;
    text-align: left;
    margin-bottom: 70px;
  }
}

.hero_photo {
  filter: drop-shadow(-2px 9px var(--secondary-bg-color));
  margin-bottom: 34px;

  @include breakpoints.tablet {
    min-width: 243px;
  }
}

.hero_info {
  max-width: 500px;
}

.hero_title {
  margin-bottom: 21px;

  @include breakpoints.tablet {
    margin-bottom: 40px;
  }
}

.hero_text {
  margin-bottom: 27px;

  @include breakpoints.tablet {
    margin-bottom: 38px;
  }
}

.resume_link {
  display: inline-block;

  padding: 9px 21px;
  max-width: 208px;
  margin-bottom: 59px;

  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background: var(--accent-color);
  border-radius: 2px;
  border: none;
  outline: none;

  &:visited {
    color: #fff;
  }
}
