.footer-section {
  padding: 51px 0 54px 0;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 26px;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
}
