@use '../../styles/breakpoints.scss';

.blog_section {
  background-color: var(--secondary-bg-color);
  padding: 27px 0 32px 0;
}

.blog_wrap {
  text-align: center;
  margin-bottom: 22px;

  @include breakpoints.tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.section_title {
  font-size: 18px;
  font-weight: 400;

  @include breakpoints.tablet {
    font-size: 22px;
  }
}

a.all_posts_link {
  display: none;

  @include breakpoints.tablet {
    display: flex;
    color: #00a8cc;
  }
}

.post_list {
  @include breakpoints.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.post_item {
  background-color: #fff;
  border-radius: 4px;
  padding: 23px;
  margin-bottom: 17px;

  &:hover,
  &:focus {
    box-shadow:
      0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
